@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body
{
  font-family: 'Varela Round', sans-serif;
  background-color: #313145;
  color: white;
}
.axie-container
{
  padding:10px;
}
.container
{
  padding-left: 10px;
}

.individual-axie
{
  width:200px;
  height:150px;
  position:relative;
  display: inline-block;
  padding: 10px;
  background-color: #036199;
  border-radius: 15px;
  cursor: pointer;
}

.axie-img
{
  position:absolute;
  height:150px;
  left:0;
  top:0;
}
.axie-rate
{
  z-index:100;
  position:absolute;
  top:75px;
  right:15px;
  background: white;
  font-size: larger;
  color: black;
  cursor: text;
}

.confirm-button
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  user-select: none; 
}

.first_line
{
  display: inline-block;
}